## Importing

In [1]:
import os
import pymysql
import pandas as pd

## Connecting

In [2]:
conn = pymysql.connect(
    host="group3etl.cluster-ci6szv7owa4r.us-east-1.rds.amazonaws.com",
    port=int(3306),
    user="admin",
    passwd="Spkr1491",
    db="group3etl")

cursor = conn.cursor()

## Reading

In [3]:
df = pd.read_sql_query("SELECT * FROM gazipcode",
    conn)

df

C:\Users\MattM\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   zipcode
0    30350
1    30058
2    30358
3    30360
4    30024
5    30024

## Writing (every member should run a new one)

In [8]:
insert_query = "INSERT INTO gazipcode (zipcode) VALUES ('30024')";
cursor.execute(insert_query)

conn.commit()

## Re-reading to check if the data was added

In [25]:
df = pd.read_sql_query("SELECT * FROM gazipcode",
    conn)

display(df)

C:\Users\MattM\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   zipcode
0    30350
1    30047
2     1001
3    30312

In [ ]:
#test